<div class="container row justify-content-center pt-5 vh-100">
  <div class="col-6">
    <div>{{product?.name}} {{product?.price}}</div>
    <form #addProdForm ="ngForm">
       <div class="mb-4">
        <label for="exampleInput" class="form-label">id:</label>
        <input type="text" class="form-control" #id id="exampleInput" aria-describedby="emailHelp">
      </div>
      <div class="mb-4">
        <label for="exampleInputEmail1" class="form-label">Name:</label>
        <input type="text" class="form-control" ngModel name="productName" #name="ngModel" required pattern="^[a-zA-z]{3,15}$"  id="exampleInputEmail1" aria-describedby="emailHelp">
        @if (name.invalid && name.touched){
          @if(name.errors?.[`required`]){
              <span class="text-danger">this field is required</span>
          }
          
          @if(name.errors?.[`pattern`]){
              <span class="text-danger">Not matched</span>
          }

        }
      </div>
      
      <div class="mb-4">
        <label for="exampleInputPassword1" class="form-label">Price:</label>
        <input type="number" class="form-control" #price id="exampleInputPassword1">
      </div>
      
      <div class="mb-4">
        <label for="quantity" class="form-label">Quantity:</label>
        <input type="number" class="form-control" #quantity id="quantity">
      </div>
      
      <div class="mb-4">
        <label for="image" class="form-label">Image:</label>
        <input type="text" class="form-control" #image id="image">
      </div>

      <div class="mb-3">
        <label for="category" class="form-label">Choose Category</label>
        <select id="category" class="form-select" #category>
          <option value="" selected disabled>Choose...</option>
          @for(item of categories; track item.id) {       
            <option [value]="item.id">{{item.name}}</option>
          }
        </select>
      </div>

      <div class="mb-4">
        <button type="button" [disabled]="addProdForm.invalid" class="btn btn-success" (click)="addProduct({
          id:  id.value,
          name: name.value,
          price: +price.value,
          quantity: +quantity.value,
           catId: +category.value,
          imgUrl: image.value        
        })">Add</button>
      </div>
    </form>
  </div>
</div>